<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestRetrySuit">
    <listeners>
        <listener class-name="org.example.utilities.MyTransform"/>
        <listener class-name="org.example.utilities.TestListener"/>
    </listeners>
    <test name="ToolsQA Practice">
        <classes>
            <class name="test_classes.ToolQALoginPageTest"/>
            <class name="test_classes.ToolsQaAlertFrameWindowTest"/>
            <class name="test_classes.ToolsQAElementsTest"/>
        </classes>
    </test>
</suite>